In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime as dt
import scipy.stats as stats

In [64]:
from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error, mean_absolute_percentage_error
from sklearn.linear_model import LinearRegression

In [65]:
cars= pd.read_csv("C:\Alabs\Datasets\Car_sales - 1656244153716.csv", sep= "," )

In [66]:
cars.head()

,Manufacturer,Model,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [67]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Manufacturer            157 non-null    object
 1   Model                   157 non-null    object
 2   Sales_in_thousands      157 non-null    float64
 3   four_year_resale_value  121 non-null    float64
 4   Vehicle_type            157 non-null    object
 5   Price_in_thousands      155 non-null    float64
 6   Engine_size             156 non-null    float64
 7   Horsepower              156 non-null    float64
 8   Wheelbase               156 non-null    float64
 9   Width                   156 non-null    float64
 10  Length                  156 non-null    float64
 11  Curb_weight             155 non-null    float64
 12  Fuel_capacity           156 non-null    float64
 13  Fuel_efficiency         154 non-null    float64
 14  Latest_Launch           157 non-null    object
 15  Power_perf_factor       155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [68]:
cars.nunique()

Manufacturer               30
Model                     156
Sales_in_thousands        157
four_year_resale_value    117
Vehicle_type                2
Price_in_thousands        152
Engine_size                31
Horsepower                 66
Wheelbase                  88
Width                      78
Length                    127
Curb_weight               147
Fuel_capacity              55
Fuel_efficiency            20
Latest_Launch             130
Power_perf_factor         154
dtype: int64

In [69]:
#Separating categorical and continuous variables
cars_cont = cars.select_dtypes('float64')
cars_cat = cars.select_dtypes('object')

In [70]:
def fn_desc( x ):
    # missing values calculation
    ntot = x.shape[0]
    n = x.count()
    n_miss = ntot - n
    n_miss_perc = n_miss/ntot
    
    # get the lc and uc using IQR
    q1 = x.quantile(0.25)
    q3 = x.quantile(0.75)
    IQR = q3 - q1
    lc_iqr = q1 - 1.5 * IQR
    uc_iqr = q3 + 1.5 * IQR
    
    # return the descriptives
    
    return pd.Series([x.dtype, x.nunique(),
                       ntot, n, n_miss, n_miss_perc,
                      IQR, lc_iqr, uc_iqr,
                      x.sum(), x.mean(), x.var(), x.std(),
                      x.min(), 
                      x.quantile(0.01), x.quantile(0.05), x.quantile(0.10), 
                      x.quantile(0.25), x.quantile(0.5), x.quantile(0.75), 
                      x.quantile(0.90), x.quantile(0.95), x.quantile(0.99), 
                      x.max() ],
                     index = ['dtype', 'cardinality',
                               'ntot', 'n', 'n_miss', 'n_miss_perc',
                              'IQR', 'lc_iqr', 'uc_iqr',
                              'sum', 'mean', 'var', 'std',
                              'min', 
                              'p1', 'p5', 'p10', 
                              'p25', 'p50', 'p75', 
                              'p90', 'p95', 'p99',
                              'max' ])

In [71]:
cars_cont.apply(fn_desc)

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
dtype,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
cardinality,157,117,152,31,66,88,78,127,147,55,20,154
ntot,157,157,157,157,157,157,157,157,157,157,157,157
n,157,121,155,156,156,156,156,156,155,156,154,155
n_miss,0,36,2,1,1,1,1,1,2,1,3,2
n_miss_perc,0.0,0.229299,0.012739,0.006369,0.006369,0.006369,0.006369,0.006369,0.012739,0.006369,0.019108,0.012739
IQR,53.842,8.615,13.93,1.275,65.5,9.2,5.025,18.55,0.8285,3.775,5.0,29.007171
lc_iqr,-66.649,-1.6625,-2.8775,0.3875,51.25,89.2,60.8625,149.75,1.72825,10.1375,13.5,16.896951
uc_iqr,148.719,32.7975,52.8425,5.4875,313.25,126.0,80.9625,223.95,5.04225,25.2375,33.5,132.925634
sum,8320.698,2186.83,4245.567,477.5,29008.0,16768.0,11099.4,29225.6,523.594,2800.5,3672.0,11941.756636
mean,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.15,187.34359,3.378026,17.951923,23.844156,77.043591
var,4628.002257,131.180007,205.969949,1.0913,3214.926385,58.389512,11.915419,180.412023,0.397532,15.115932,18.341567,632.153558
std,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.11,5.16,9.235,1.0,55.0,92.6,62.6,149.4,1.895,10.3,15.0,23.276272
p1,0.93728,6.173,10.23144,1.555,96.4,92.875,66.085,154.915,2.2454,11.9,15.0,38.46192
p5,1.8708,7.85,12.469,1.8,114.5,95.875,66.5,163.675,2.4235,12.5,16.65,46.203997
p10,5.4536,9.125,13.9708,1.95,120.0,98.65,66.9,173.0,2.6062,13.2,18.3,48.447741
p25,14.114,11.26,18.0175,2.3,149.5,103.0,68.4,177.575,2.971,15.8,21.0,60.407707
p50,29.45,14.18,22.799,3.0,177.5,107.0,70.55,187.9,3.342,17.2,24.0,72.030917
p75,67.956,19.875,31.9475,3.575,215.0,112.2,73.425,196.125,3.7995,19.575,26.0,89.414878
p90,127.6416,32.075,44.017,4.6,254.0,115.5,76.2,203.4,4.1186,23.2,28.7,108.499252
p95,185.3362,41.25,55.835,4.775,300.0,119.25,78.2,208.5,4.3891,25.4,31.0,125.091513
p99,260.64532,60.22,78.4798,5.7,325.75,134.375,79.19,219.305,5.39668,30.9,33.0,141.119461
max,540.561,67.55,85.5,8.0,450.0,138.7,79.9,224.5,5.572,32.0,45.0,188.144323

In [72]:
def categorical_var_summary(x):
    Mode = x.value_counts().sort_values(ascending = False)[0:1].reset_index()
    return pd.Series([x.count(), x.isnull().sum(), Mode.iloc[0, 0], Mode.iloc[0, 1], 
                          round(Mode.iloc[0, 1] * 100/x.count(), 2)], 
                  index = ['N', 'NMISS', 'MODE', 'FREQ', 'PERCENT'])

In [73]:
cars_cat.apply(categorical_var_summary)

        Manufacturer Model Vehicle_type Latest_Launch
N                157   157          157           157
NMISS              0     0            0             0
MODE           Dodge  Neon    Passenger     10/5/2012
FREQ              11     2          116             2
PERCENT         7.01  1.27        73.89          1.27

In [75]:
#Outlier treatment
cars_cont.apply( lambda x: x.clip (lower= x.quantile(0.01),upper= x.quantile(0.99)) )

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,16.919,16.360,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,39.384,19.875,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,14.114,18.225,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,NaN
3,8.588,29.725,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,20.397,22.255,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,NaN,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,15.245,NaN,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,17.531,NaN,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,3.493,NaN,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,18.969,NaN,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [76]:
cars_cont = cars_cont.apply( lambda x: x.clip (lower= x.quantile(0.01),upper= x.quantile(0.99)) )

In [77]:
from sklearn.impute import KNNImputer

In [78]:
# missing value treatment
imputer = KNNImputer(n_neighbors= 5, weights= 'distance')
aft_impute = imputer.fit_transform(cars_cont)

In [79]:
pd.DataFrame(aft_impute)

,0,1,2,3,4,5,6,7,8,9,10,11
0,16.919,16.360000,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,39.384,19.875000,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,14.114,18.225000,35.208539,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,93.284449
3,8.588,29.725000,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,20.397,22.255000,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,16.491221,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,15.245,13.760011,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,17.531,13.873111,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,3.493,28.954773,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,18.969,25.058822,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [80]:
pd.DataFrame(aft_impute).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       157 non-null    float64
 1   1       157 non-null    float64
 2   2       157 non-null    float64
 3   3       157 non-null    float64
 4   4       157 non-null    float64
 5   5       157 non-null    float64
 6   6       157 non-null    float64
 7   7       157 non-null    float64
 8   8       157 non-null    float64
 9   9       157 non-null    float64
 10  10      157 non-null    float64
 11  11      157 non-null    float64
dtypes: float64(12)
memory usage: 14.8 KB

In [81]:
pd.DataFrame(aft_impute, columns=cars_cont.columns )

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,16.919,16.360000,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,39.384,19.875000,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,14.114,18.225000,35.208539,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,93.284449
3,8.588,29.725000,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,20.397,22.255000,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,16.491221,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,15.245,13.760011,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,17.531,13.873111,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,3.493,28.954773,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,18.969,25.058822,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [82]:
cars_cont = pd.DataFrame(aft_impute, columns=cars_cont.columns )

In [39]:
cars_cont.apply(fn_desc)

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
dtype,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64
cardinality,157,153,154,32,67,89,79,128,149,56,23,156
ntot,157,157,157,157,157,157,157,157,157,157,157,157
n,157,157,157,157,157,157,157,157,157,157,157,157
n_miss,0,0,0,0,0,0,0,0,0,0,0,0
n_miss_perc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
IQR,53.842,8.58,13.82,1.2,65.0,9.2,5.0,18.5,0.846,3.7,5.0,28.700373
lc_iqr,-66.649,-0.51,-2.585,0.5,52.5,89.2,60.9,149.85,1.706,10.25,13.5,17.676887
uc_iqr,148.719,33.81,52.695,5.3,312.5,126.0,80.9,223.85,5.09,25.05,33.5,132.47838
sum,8320.698,2928.81122,4307.991837,480.415993,29174.735217,16872.524485,11169.69684,29405.898736,531.243779,2818.112797,3740.028792,12105.779516
mean,52.998076,18.654849,27.439438,3.059974,185.826339,107.468309,71.144566,187.298718,3.383718,17.949763,23.821839,77.106876
var,4628.002257,118.796984,204.17975,1.084438,3196.669212,58.071128,11.843675,179.57165,0.396182,15.019767,18.029945,626.533811
std,68.029422,10.899403,14.289148,1.041364,56.539095,7.620441,3.441464,13.400435,0.62943,3.875534,4.246168,25.030657
min,0.11,5.16,9.235,1.0,55.0,92.6,62.6,149.4,1.895,10.3,15.0,23.276272
p1,0.93728,6.7364,10.25116,1.556,96.48,92.88,66.092,154.968,2.2456,11.9,15.0,38.528203
p5,1.8708,8.425,12.491,1.8,114.6,95.92,66.5,163.7,2.424,12.5,16.8,46.257114
p10,5.4536,9.71,13.9762,1.96,120.0,98.7,66.9,173.12,2.6128,13.2,18.6,48.522793
p25,14.114,12.36,18.145,2.3,150.0,103.0,68.4,177.6,2.975,15.8,21.0,60.727447
p50,29.45,15.125,23.4,3.0,175.0,107.0,70.5,187.8,3.368,17.2,24.0,72.030917
p75,67.956,20.94,31.965,3.5,215.0,112.2,73.4,196.1,3.821,19.5,26.0,89.42782
p90,127.6416,30.746064,43.788,4.6,253.8,115.46,76.18,203.34,4.1226,23.2,28.4,107.99432
p95,185.3362,40.697683,55.225,4.76,300.0,119.2,78.2,208.5,4.3884,25.4,31.0,125.065461
p99,260.64532,59.491,78.3272,5.7,325.4,134.3,79.188,219.216,5.39652,30.88,33.0,141.118657
max,540.561,67.55,85.5,8.0,450.0,138.7,79.9,224.5,5.572,32.0,45.0,188.144323

In [83]:
# One hot encoding of categorical var
pd.get_dummies(data= cars_cat, drop_first= True, dtype= int)

,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Ford,Manufacturer_Honda,Manufacturer_Hyundai,...,Latest_Launch_9/1/2011,Latest_Launch_9/10/2012,Latest_Launch_9/11/2011,Latest_Launch_9/14/2012,Latest_Launch_9/21/2011,Latest_Launch_9/22/2012,Latest_Launch_9/25/2011,Latest_Launch_9/26/2011,Latest_Launch_9/28/2011,Latest_Launch_9/3/2011
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
153,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
cars_cat = pd.get_dummies(data= cars_cat, drop_first= True, dtype= int)

In [85]:
# combining Categorical and Continuous vars DF
cars= pd.concat([cars_cat, cars_cont], axis = 1, verify_integrity= True )

In [86]:
cars.head()

,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Ford,Manufacturer_Honda,Manufacturer_Hyundai,...,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,0,0,0,0,0,0,0,0,0,0,...,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,0,0,0,0,0,0,0,0,0,0,...,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,0,0,0,0,0,0,0,0,0,0,...,35.208539,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,93.284449
3,0,0,0,0,0,0,0,0,0,0,...,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,1,0,0,0,0,0,0,0,0,0,...,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639

In [87]:
cars.shape

(157, 326)